UserInterface/myDB.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cinema">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="address"/>
        <xs:element name="films">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="film" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:byte" name="rating"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:string" name="genre"/>
                    <xs:element type="xs:string" name="date"/>
                    <xs:element name="actors">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>